$breakpoint-screen: 800px;

.App {
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: $breakpoint-screen) {
    grid-template-columns: var(--width-sidebar) 1fr;
  }
}

.SideBar {
  padding: var(--spacing-4);
  background-color: var(--color-bg);
  height: calc(100vh - var(--spacing-8));
  display: none;

  @media screen and (min-width: $breakpoint-screen) {
    display: block;
  }
}

.Logo {
  width: 100%;
  height: var(--height-logo);
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  text-indent: -500%;
  background: url("./static/wave-logo.svg") left top no-repeat;
  background-size: auto 200%;
}

.Body {
  padding: var(--spacing-8) var(--spacing-8);
}

.Heading {
  margin: 0 0 var(--spacing-4) 0;
}

.CustomerList {
  padding: var(--spacing-1);
}

.CustomerRow {
  display: flex;
}

.CustomerRowBold {
  font-weight: bold;
}

.CustomerRowItem {
  flex: 1;
  padding: var(--spacing-2) 0;
  padding-right: var(--spacing-2);

  &:last-child {
    text-align: right;
    padding-right: 0;
  }
}

.ModalTitle {
  margin-top: 0;
  margin-bottom: var(--spacing-4);
}

.FormGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--spacing-4);
  margin-bottom: var(--spacing-2);
}

.InputItem {
  margin-bottom: var(--spacing-2);

  & > label {
    display: block;
    margin-bottom: var(--spacing-1);
  }

  & > input,
  & > select {
    display: block;
    padding: var(--spacing-2);
    width: calc(100% - var(--spacing-4));
  }
}
